@import url('https://fonts.googleapis.com/css2?family=Manrope');
@import url('https://fonts.googleapis.com/css2?family=Inter');
:root{
    --material-red: #B04048;
    --material-green: #167C47;
    --material-orange:#FF9914;
    --material-white:#F7F7F0;
    --material-black:#181716;
}

h1, h2, h3{
    font-family:"Manrope";
    font-weight:bold;
    font-size:36px;
}
h2{
    font-size:30px;
}
h3{
    font-size:18px;
}
p{
    font-family:"Inter";
    font-size:16px;
    line-height: 143%;
}

html{
    margin:0;
    -ms-overflow-style:none;
    scrollbar-width:none;
    overflow-x:hidden;
}
html::-webkit-scrollbar{
    display:none;
}

body{
    margin:0;
}

header{
    position:fixed;
    width:100%;
    background-color:var(--material-white);
    display:flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.45);
    min-height:6.5%;
}
.logo{
    margin-left:7%;
    align-self:center;
    display:flex;
    flex-direction:row;
    margin-bottom:10px;
}
.logoImg{
    margin-right:10px;
    align-self:center;
    transform:translateY(3px);
}
.logoText{
    font-family:"Manrope";
    color:var(--material-black);
    font-weight:1000;
    font-size:38px;
}
.navBar{
    display:flex;
    flex-direction:row;
    gap:30px;
    align-self:center;
    color:var(--material-black);
    margin-right:7%;
}
.navItem{
    font-family:"Manrope";
    font-size:16px;
    font-weight:700;
    padding:5px 20px;
}
.menuLink{
    border:1px solid var(--material-black);
    border-radius:5px;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
}
