@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

:root{
    --accent:#4DB8FF;
    --tertiary-green:#5EFC8D;
    --tertiary-pink:#D370DB;
    --gray:#777;
    --header-font:"Poppins";
    --copy-font:"DM Sans";
    --gradient-2:linear-gradient(90deg, #D370DB 0%, #4DB8FF 98.57%);
    --gradient-3:linear-gradient(217.32deg, #D370DB 3.7%, #4DB8FF 55.99%, #5EFC8D 100%);
}
html, body{
    margin:0;
    padding:0;
}
p, div, span, h1, h2{
    margin:0;
    color:white;
}
h1{
    font-family:var(--header-font);
    font-style:normal;
    font-weight:700;
    font-size:64px;
}
h2{
    font-family:var(--header-font);
    font-style:normal;
    font-weight:700;
    font-size:36px;
    color:var(--accent);
}
p{
    font-family:var(--copy-font);
    font-style:normal;
    font-weight:400;
    font-size:20px;
}

button{
    width:188px;
    height:60px;
    font-family:var(--copy-font);
    color:white;
    font-size:20px;
    border:none;
    border-radius:15px;
}
.accentButton{
    background-color:var(--accent);
}
.outlineButton{
    background:transparent;
    border:1px solid white;
}

body{
    background-color: black;
}

header{
    width:100%;
    height:90px;
    position:fixed;
    display:flex;
    flex-direction:row;
    align-items:center;
}
#headerOffset{
    height:90px;
}

.logo{
    margin-left:3%;
}
header nav{
    width:50%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    right:3%;
}
.navItem a{
    color:white;
    font-family: var(--copy-font);
    text-decoration:none;
}
.active{
    font-weight:700;
    color:var(--accent) !important;
}

#helloSection{
    height:calc(100vh - 90px);
    width:100vw;
    display:flex;
    flex-direction:row;
}
.halfSection{
    display:flex;
    align-items:center;
    justify-content:center;
    width:50%;
}
#helloTextSection{
    position:absolute;
    display:flex;
    flex-direction:column;
}
.textGradient2{
    width:fit-content;
    background:var(--gradient-2);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    background-clip:text;
    text-fill-color:transparent;
}
#helloSubNameText{
    color:var(--gray);
}
#helloButtonSection{
    width:fit-content;
    display:flex;
    flex-direction:row;
    gap:20px;
    margin-top:15px;
}
#portraitBorder{
    position:relative;
    background:var(--gradient-3);
    width:706px;
    height:706px;
    border-radius:100%;
}
#portrait{
    position:absolute;
    top:8px;
    left:8px;
    background-image:url(../img/portrait.jpg);
    background-size:150%;
    background-position:-150px -650px;
    width:690px;
    height:690px;
    border-radius:100%;
}